h1 {
    color:cornflowerblue;
    background-color: darkblue;
    text-align: center;
    font-size: 3em;
    font-style: oblique;
    font-family:'Times New Roman', Times, serif;
    line-height: 2em;    
}
h2, h3 {
    color:cornflowerblue;
    font-family:'Times New Roman', Times, serif;
}

nav li {
    display: inline;
    padding-right: 40px;
    line-height: 150%;
}

#college p {
    color:fuchsia;
}

ul, p {
    color:rgb(255, 255, 255);
}
body {
    background-color: black;
    font-weight: bold;
}

#schoolMusic{
    color:blueviolet;
}